<div class="col-md-8 offset-md-2">
    <h1 class="text-center">Employee Detail</h1><br>
    <h4 class="text">Employee List</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td> {{employee.lastName}}</td>
            <td> {{employee.emailId}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger " style="margin-left:10px">Delete</button>
                <button (click)="viewEmployee(employee.id)" class="btn btn-info">View</button>
            </td>


        </tr>
    </tbody>
</table>

</div>

